body{
  display: flex;
  margin: 0;
}

.wrapper_box{
  box-sizing: border-box;
  padding: 20px;
}
.side_box{
  width: calc(100% - 20px);
  border-radius: 5px;
  padding-block: 10px;
  padding-inline: 10px;
  background-color: white;
}

#sidebar{
  width: 20vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #edf2f7;
  overflow-y: scroll;

  > h1{
    color: #5863ea;
    margin-top: 0px;
  }
  > h2{
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    font-size: 130%;
    > small a{
      color: #5863ea;
    }
  }
  > ul{
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
  }
  > form input{
    border: 1px solid #b6c3c6;
  }
  > form input:focus {
    box-shadow: 0 0 0 1px #5863ea;
    outline: 0;
  }
  > code{
    display: block;
    cursor: text;
    line-break: anywhere;
  }
}

#body{
  width: 80vw;
  height: 100vh;
  background-color: #e1e3f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > #body_bottom{
    display: flex;
    justify-content: center;
    > #textarea{
      width: 50vw;
      max-height: 200px;
      padding: 8px;
      line-height: 20px;
    }
  }
}

/* テキストエリア(https://qiita.com/tsmd/items/fce7bf1f65f03239eef0) */
.FlexTextarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
  width: 80%;
  margin-left: 10%;
  max-height: 200px;
  overflow-y: hidden;
}
.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  min-height: 40px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
}
.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}
.FlexTextarea__textarea:focus {
  border: 2px solid #5863ea;
  outline: 0;
}
#textarea_info{
  position: absolute;
  bottom: 0;
  right: 30px;
  font-size: small;
  display: block;
  overflow: hidden;
  z-index: 2;
  color: #b6c3c6;
}